---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lorem Ipsum</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body>
    <Header />
    <main>
      <section id="home" class="section" data-aos="fade-up">
        <h1>collari.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus diam, viverra ac efficitur sit amet</p>
      </section>
      <section id="about" class="section" data-aos="fade-right">
        <h2>Sobre Nós</h2>
        <p>Praesent viverra ac sapien vel laoreet. Proin convallis sem nisl, id sagittis arcu facilisis lobortis.</p>
      </section>
      <section id="services" class="section" data-aos="fade-left">
        <h2>Serviços</h2>
        <p>Donec egestas magna eget erat convallis, et interdum justo aliquam. </p>
      </section>
    </main>
    <Footer />
    <script src="/src/scripts/initAOS.js" type="module" defer></script>
  </body>
</html>
