@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
@import 'aos/dist/aos.css';


body {
  font-family: 'Geist', sans-serif;
  margin: 0;
  background-color: #100415;
  color: #ce8aea;
  scroll-behavior: smooth;
}

.section {
  padding: 100px 20px;
  text-align: center;
}

h1, h2 {
  color: #d8293d;
}

p {
  color: #881947;
}

header, footer {
  padding: 20px;
  background-color: #100415;
  color: #ce8aea;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a, footer a {
  color: #ce8aea;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: #d8293d;
}
