<section class="about-section">
    <div class="about-container">
        <div class="about-grid">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
        </div>
        <div class="about-text">
            <h2 class="about-title">Sobre a Collari</h2>
            <p class="about-description">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
            </p>
            </div>
        </div>
    </div>
</section>