---
import '../styles/footer.css'
---

<footer class="footer">
  <div class="footer-container">
    <div class="social-icons">
      <a href="#" class="social-link">
        <div class="social-icon github-icon">
          <img src="/github.svg">
        </div>
      </a>
      <a href="#" class="social-link">
        <div class="social-icon discord-icon">
          <img src="/discord.svg">
        </div>
      </a>
      <a href="#" class="social-link">
        <div class="social-icon instagram-icon">
          <img src="/instagram.svg">
        </div>
      </a>
      <a href="#" class="social-link">
        <div class="social-icon whatsapp-icon">
          <img src="/whatsapp.svg">
        </div>
      </a>
    </div>
  </div>
  <div class="copyright-container">
    <p class="copyright">Copyright © 2024 Collari. Todos os direitos reservados.</p>
  </div>
</footer>